body {
    margin: 20px 100px;
    font-family: 'Verdana';
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header img {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #D04F4F;
}

#search_bar {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

#search_bar input {
    width: calc(100% - 20px);
    height: 70px;
    background-color: #e6e6e6;
    border: #e6e6e6 solid 1px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: larger;
}

#search_bar i {
    transform-origin: center;
    transform: scale(190%);
    position: absolute;
    right: 2%;
    top: calc(50% - 9px);
    cursor: pointer;
}

.filter_options {
    display: flex;
    margin-bottom: 50px;
}

.filter_options div {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

#recipes_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.totalRecipeCard {
    width: 30%;
    position: relative;
    max-height: 370px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.topRecipeCard {
    height: 50%;
    background-color: #C7BEBE;
}

.recipeCard {
    background-color: #e6e6e6;
    height: 50%;
    padding: 10px;
    position: relative;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    
}

.cardHeader h2 {
    font-size: large;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardHeader i {
    position: absolute;
    right: 90px;
    top: 20px;
    margin-right: 5px;
}

.cardContent {
    display: flex;
    height: 70%;
    font-size: small;
    
}

.cardContent ul {
    width: 60%;
    padding-left: 0;
    
}

.cardContent li {
    list-style: none;
    width: 100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.cardContent p {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.dropdownContainer {
    width: max-content;
    position: relative;
}

#ingredients_filter .dropdownContainer, #ingredients_filter .dropdownContainer input, #ustensils_filter .dropdownContainer ul {
    background-color: #3282F7;
}

#ustensils_filter .dropdownContainer, #ustensils_filter .dropdownContainer input, #ustensils_filter .dropdownContainer ul {
    background-color: #68D9A4;
}

#appliances_filter .dropdownContainer, #appliances_filter .dropdownContainer input, #appliances_filter .dropdownContainer ul {
    background-color:  #ED6454;
}

.dropdownSousContainer {
    display: flex;
}

.dropdownContainer input {
    border: none;
    color: white;
    opacity: 1;
}

.dropdownContainer input:focus {
    border: none;
    outline: none;
}

.dropdownContainer i {
    color: white;
}

.dropdownContainer ul {
    position: absolute;
    left: 0px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    background-color: #3282F7;
    color: white;
    list-style: none;
    column-count: 3;
}

#active_filters {
    padding: 10px;
    display: flex;
}

.filterContainer {
    display: flex;
    border-radius: 5px;
    
    color: white;
    max-width: min-content;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-right: 15px;
}

.color-ingredient {
    background-color: #3282F7;
}

.color-Ustensiles {
    background-color: #68D9A4;
}

.color-Appareils {
    background-color:  #ED6454;
}

.filterContainer p {
    white-space: nowrap;
    margin: 0;
    margin-right: 10px;
}

.filterContainer i {
    transform: scale(150%);
}